<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>All Trains</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Patrick Wyler">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/navigation.html"></div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Trains </h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Type designation </th>
                    <th scope="col"> Commissioning date </th>
                    <th scope="col"> Last audit date </th>
                    <th scope="col"> Next audit date </th>
                    <th scope="col"> Amount of seats </th>
                    <th scope="col"> Available </th>
                    <th scope="col"> Options </th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:if="${trains.empty}">
                    <td colspan="8"> No Trains Available </td>
                </tr>
                <tr scope="row" th:each="train : ${trains}">
                    <td><span th:text="${train.name}"> Name </span></td>
                    <td><span th:text="${train.typeDesignation}"> Type designation </span></td>
                    <td><span th:text="${train.commissioningDate}"> Commissioning date </span></td>
                    <td><span th:text="${train.lastAuditDate}"> Last audit date </span></td>
                    <td><span th:text="${train.nextAuditDate}"> Next audit date </span></td>
                    <td><span th:text="${train.amountOfSeats}"> Amount of seats </span></td>
                    <td><input type="checkbox" checked="checked" disabled="disabled" name="rootStation" th:checked="${train.available}"/></td>

                    <td>
                        <a class="btn btn-light" href="#" th:href="@{'/trains/edit/' + ${train.id}}"> Edit </a>
                        <a class="btn btn-light" href="#" th:href="@{'/trains/delete/' + ${train.id}}"> Delete </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/trains/create}"> Add </a>
        </div>
    </div>
</div>

<div th:insert="fragments/scripts.html"></div>

</body>
</html>