<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Edit Train</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Patrick Wyler">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/navigation.html"></div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Edit Train </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{'/trains/update/' + ${form.id}}" th:object="${form}" method="post">
                <p>Name: <input type="text" th:field="*{name}"/></p>
                <p>Type designation: <input type="text" th:field="*{typeDesignation}"/></p>
                <p>Commissioning date: <input type="date" th:field="*{commissioningDate}"/></p>
                <p>Last audit date: <input type="date" th:field="*{lastAuditDate}"/></p>
                <p>Next audit date: <input type="date" th:field="*{nextAuditDate}"/></p>
                <p>Amount of seats: <input type="number" th:field="*{amountOfSeats}"/></p>
                <p>Available: <input type="checkbox" th:field="*{available}"/></p>
                <span class="pull-right">
                    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
                    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
                </span>
            </form>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>

</body>
</html>